<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/db.properties">
	</properties>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="co.start.vo.UserVO" alias="UserVO" />
		<typeAlias type="co.start.vo.BoardVO" alias="BoardVO" />
		<typeAlias type="co.start.vo.CommentsVO" alias="CommentsVO" />
		<typeAlias type="co.start.vo.CouponVO" alias="CouponVO" />
		<typeAlias type="co.start.vo.MessageVO" alias="MessageVO" />
		<typeAlias type="co.start.vo.OrderVO" alias="OrderVO" />
		<typeAlias type="co.start.vo.PaydetailVO" alias="PaydetailVO" />
		<typeAlias type="co.start.vo.ProductVO" alias="ProductVO" />
		<typeAlias type="co.start.vo.StartpayVO" alias="StartpayVO" />
	</typeAliases>
	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="co/start/mapper/ProductMapper.xml"/>
    <mapper resource="co/start/mapper/UserMapper.xml"/>
    <mapper resource="co/start/mapper/BoardMapper.xml"/>
    <mapper resource="co/start/mapper/PaymentMapper.xml"/>
  </mappers>
</configuration>