<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.start.mapper.BoardMapper">
<!-- 가애 -->
<select id="travelListWithPaging" resultType="BoardVO" parameterType="int">
  <![CDATA[
	 select b_id, user_id, b_title, b_contents, b_writedate, b_count, b_good, b_head
	 from (select rownum rn, b_id, user_id, b_title, b_contents, b_writedate, b_count, b_good, b_head
	      from (select b_id, user_id, b_title, b_contents, b_writedate, b_count, b_good, b_head
	            from board
	            where b_category = 'TR'
	            order by b_id desc) a
	      where rownum <= (#{page} * 10) ) b
	 where b.rn > (#{page} - 1) * 10
	]]>
</select>

<select id="getTotalCount" resultType="int">
	select count(*) from board
	where b_category = 'TR' or b_category = 'tr' 
	group by b_category
</select>

<select id="tavelBoradInfo" parameterType="int" resultType="BoardVO">
	select * from board
	where b_id = #{key}
</select>

<insert id="travelBoardInsert" parameterType="BoardVO">
	insert into board (b_id, user_id, b_title, b_contents, b_writedate, b_category, b_good, b_count, b_head)
	values (board_seq.nextval, #{userId}, #{bTitle}, #{bContents}, sysdate, 'TR', 0, 0, #{bHead})
</insert>

<select id="searchBId" resultType="int">
	select b.b_id from board b
	where b_id = ( select max(b_id) from board)
</select>

<insert id="imgAttach" parameterType="ImagesVO">
	insert into images (b_id, img_file) values (#{bId}, #{imgFile})
</insert>

<select id="images" parameterType="int" resultType="ImagesVO">
	select * from images where b_id = #{bid}
</select>

<update id="updateBHit" parameterType="int">
  	update board set b_count = b_count + 1 
  	where b_id = #{bid}
</update>

<!-- 순덕 -->
<select id="noitceList" resultType="co.start.vo.BoardVO">
	select * from board
	where b_category='NO'
</select>

<select id="noticeInfo" resultType="co.start.vo.BoardVO" parameterType="co.start.vo.BoardVO">
	select * from board
	where b_title = #{bTitle} and b_category='NO'
</select>

<insert id="insertnotice" parameterType="co.start.vo.BoardVO">
	insert into board (b_id, user_id, b_title, b_contents, b_writeDate, b_category)
	values(board_seq.nextval, 'admin', #{bTitle},#{bContents} , sysdate, 'NO')
</insert>

<update id="updateNotice" parameterType="co.start.vo.BoardVO">
	update board 
	set b_title=#{bTitle}, b_contents=#{bContents}
	where b_id= #{bId}
</update>

<delete id="deleteNotice" parameterType="co.start.vo.BoardVO">
	delete board where b_id= #{bId}
</delete>

<!-- 용억 -->
<select id="mateListWithPaging" resultType="co.start.vo.BoardVO" parameterType="int">
	<![CDATA[
	select b_id, user_id, b_head,b_title,b_matching,b_writedate
	from (select rownum rn, b_id, user_id, b_head,b_title,b_matching,b_writedate
	 	from ( select b_id, user_id, b_head,b_title,b_matching,b_writedate
	 		from board where b_category = 'WI' or b_category='WR'
	 		order by b_writedate desc ) a
		where rownum <= (#{page} * 10) ) b
	where b.rn > (#{page}-1)*10		 		  
	
	
	
	]]>
	
	
</select>
<select id="getTotalCounts" resultType="int">
	select count(*) from board
	where b_category = 'WI' or b_category = 'WR' 
	
</select>

<select id="mateList" resultType="co.start.vo.BoardVO">
 select * from board where b_category='WI' or b_category='WR' order by b_writedate desc
 </select>

<select id="selectMate" resultType="co.start.vo.BoardVO" parameterType="co.start.vo.BoardVO">
	select * from board where b_title = #{bTitle}
</select>

<insert id="insertMate" parameterType="co.start.vo.BoardVO">
	insert into board (b_id, b_title,user_id,b_contents,b_category,b_head,b_writedate ) 
	values(board_seq.nextval,#{bTitle},#{userId},#{bContents},#{bCategory},#{bHead},sysdate)
</insert>

<update id="updateMate" parameterType="co.start.vo.BoardVO" >
	update board set b_title = #{bTitle}, b_contents= #{bContents} where b_id = #{bId}
</update>


<!-- 대준 -->

<select id="scManagerList" resultType="BoardVO">
	select * from board where b_category='CU'
</select>

<select id="scSearch" resultType="BoardVO" parameterType ="int">
   select * from board where b_id=#{bId}
</select> 

<insert id="scWrite" parameterType = "BoardVO">
  	insert into board(b_id, user_id, b_title, b_contents, b_category, b_writeDate)
  	values(board_seq.nextval, #{userId}, #{bTitle}, #{bContents}, 'CU', sysdate )
</insert>

<delete id="scRemove" parameterType="co.start.vo.BoardVO">
  	delete from board where b_id = #{bId}
</delete>
 
 
 <select id="scUserList" resultType="BoardVO">
	select * from board where b_category='CU' 
</select>

</mapper>