<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.start.mapper.CommentsMapper">

<select id = "commentsList" resultType="co.start.vo.CommentsVO" parameterType="int">
	select * from comments where b_id = #{bId }
</select>

<insert id = "insertComments"  parameterType="co.start.vo.CommentsVO">
	insert into comments (co_id,b_id,user_id,co_body) values (comm_seq.nextval, #{bId}, #{userId}, #{coBody})
</insert>


<delete id="deleteComments" parameterType="int">
	delete from comments where co_id = #{coId}
</delete>

</mapper>