<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.start.mapper.PaymentMapper">
<!-- 가애 -->
<select id="cartList" parameterType="String" resultType="productVO">
	select *
	from cart NATURAL JOIN product
	where user_id = #{id}
</select>

<update id="cartUpdate" parameterType="CartVO">
	update cart set pd_count=#{pdCount} where cart_id=#{cartId}
</update>

<delete id="cartDelete" parameterType="CartVO">
	delete from cart where cart_id = #{cartId}
</delete>
<!-- <delete id="cartDeleteAll" parameterType="CartVO">
	delete from cart where user_id=#{userId}
</delete> -->

<insert id="cartInsert" parameterType="CartVO">
	insert into cart values(cart_seq.nextval, #{pdId}, #{userId}, #{pdCount})
</insert>

<select id="searchCart" parameterType="CartVO" resultType="CartVO">
	select * from cart where pd_id=#{pdId} and user_id=#{userId}
</select>

<select id="searchById" parameterType="int" resultType="ProductVO">
	select *
	from cart NATURAL JOIN product
	where cart_id = #{cartId}
</select>

<select id="searchMyCoupon" parameterType="String" resultType="CouponVO">
	select * from coupon where user_id = #{id}
</select>

<!-- 순덕 -->


<!-- 용억 -->
<select id="payList" resultType="co.start.vo.StartpayVO">
	select * from startpay order by pay_date desc
</select>

<insert id="insertPay" parameterType="StartpayVO">
	insert into startpay (user_id,pay_start,pay_point,pay_why,pay_date)
	values (#{userId},#{payStart},#{payPoint},#{payWhy},sysdate)
</insert>

<insert id="updatePay" parameterType="co.start.vo.StartpayVO">
	insert into startpay (user_id,pay_start,pay_date,pay_why)
	values (#{userId},#{payStart},sysdate,#{payWhy})
</insert>

<select id="couponList" resultType="co.start.vo.CouponVO">
	select * from coupon
</select>
<!-- 대준 -->


</mapper>