<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.start.mapper.ProductMapper">
<!-- 가애 -->
<insert id="insertProduct" parameterType="ProductVO">
	insert into product (pd_id, pd_name, pd_price, pd_type, pd_info, pr_img)
	values (prod_seq.nextval, #{pdName}, #{pdPrice}, #{pdType}, #{pdInfo}, #{prImg})
</insert>
<select id="images" parameterType="int" resultType="ImagesVO">
	select * from images where pd_id = #{id}
</select>

<!-- 순덕 -->
<select id="packageList" resultType="co.start.vo.ProductVO" parameterType="co.start.vo.SearchVO">
	select * from product
	<where>
		pd_type='PK'
		and pd_location= #{region}			
		<if test="order == 'start'">
			order by pd_start
		</if>
		<if test="order == 'price'">
			order by pd_price
		</if>
	</where>
</select>

<select id="1" resultType="co.start.vo.ProductVO" parameterType="co.start.vo.SearchVO">
	<![CDATA[
	  select pd_id, pd_name, pd_price, pd_type,  nvl(pd_sale, pd_price) pd_sale, pd_start, pd_end, pd_location, pr_img
	  from (select  rownum rn, pd_id, pd_name, pd_price, pd_type, pd_sale, pd_start , pd_end, pd_location, pr_img
	      from (select pd_id, pd_name, pd_price, pd_type, pd_sale, pd_start, pd_end, pd_location, pr_img
	            from product where 1=1 and
	]]>
		            pd_type='PK'and pd_location= #{region}	
		            <if test="order == 'start'">
						order by pd_start
					</if>
					<if test="order == 'price'">
						order by pd_sale
					</if>

					<![CDATA[
				) a
	      where rownum <= (#{page} * 10) ) b
	  where b.rn > (#{page} - 1) * 10
	]]>
</select>
	
<select id="getTotalCountTwo" parameterType="co.start.vo.SearchVO">
		select count(*) from product where pd_type='PK' and pd_location= #{region}
</select>


<select id="packageInfo" resultType="co.start.vo.ProductVO" parameterType="co.start.vo.ProductVO">
	select * from product
	where pd_id=#{pdId}
</select>

<select id="reviewList" resultType="co.start.vo.PdreviewVO" parameterType="co.start.vo.PdreviewVO">
	select * from pdreview
	where pd_id=#{pdId}
</select>


<delete id="deletePackage" parameterType="co.start.vo.ProductVO">
	delete from product where pd_id=#{pdId}
</delete>
	
<update id="updatePackage" parameterType="co.start.vo.ProductVO">
	update product
	set pd_name=#{pdName}, pd_price=#{pdPrice}, pd_sale=#{pdSale}, pd_start= #{pdStart}, pd_end= #{pdEnd} 
	where pd_id=#{pdId}
</update>

<insert id="insertPackage" parameterType="co.start.vo.ProductVO">
	insert into product (pd_id, pd_name, pd_price, pd_type, pd_sale, pd_info, pd_start, pd_end, pd_location, pr_img)
	values(prod_seq.nextval,#{pdName},#{pdPrice},'PK',#{pdSale},#{pdInfo},#{pdStart},#{pdEnd}, #{pdLocation}, #{prImg} )
</insert>

<select id="searchPdId" resultType="int">
	select p.pd_id from product p
	where pd_id = ( select max(pd_id) from product)
</select>

<insert id="imgAttach" parameterType="ImagesVO">
	insert into images (pd_id, img_file) values (#{pdId}, #{imgFile})
</insert>

<select id="orderList" parameterType="int" resultType="co.start.vo.ProductVO">
	<![CDATA[
		select pd_id, pd_name,  pd_price, pd_sale, pr_img, order_id, user_id, order_date, pd_count, order_status
		from (select  rownum rn,  pd_id, pd_name, pd_price, pd_sale, pr_img, order_id, user_id, order_date, pd_count,order_status
		        from (select pd.pd_id, pd.pd_name, pd.pd_price, pd.pd_sale, pd.pr_img, o.order_id, o.user_id,o.order_date, pd_count,o.order_status
		                from product pd join paydetail pa on(pd.pd_id= pa.pd_id) 
		                                        join orders o on(pa.order_id = o.order_id)) a
		        where rownum <= (#{page} * 10) ) b
		where b.rn > (#{page} - 1) * 10
	]]>
</select>

<select id="orderListdo" resultType="co.start.vo.ProductVO">
		select pd.pd_id, pd.pd_name, pd.pd_price, pd.pd_sale, pd.pr_img, o.order_id, o.user_id,o.order_date,pa.pd_count,o.order_status
		from product pd join paydetail pa on(pd.pd_id= pa.pd_id) join orders o on(pa.order_id = o.order_id)	
</select>

<insert id="insertPdreview" parameterType="co.start.vo.PdreviewVO">
	insert into pdreview (user_id, pd_id, pr_body, pr_star, pr_date)
	values(#{userId}, #{pdId}, #{prBody}, #{prStar}, sysdate)
</insert>



<!-- 용억 -->
  <select id="productList" resultType="co.start.vo.ProductVO">
    select * from product where pd_Type='PR'
  </select>
  
  <select id="hotelList" resultType="co.start.vo.ProductVO">
  	select * from product where pd_Type='HO'
  </select>
    
  <select id="selectProduct" resultType="co.start.vo.ProductVO" parameterType="co.start.vo.ProductVO">
  	select * from product where pd_id=#{pdId}
  </select>

	<select id="productListWithPaging" resultType="co.start.vo.ProductVO" parameterType="int">
	<![CDATA[
	  select pd_id, pd_name, pd_price, pd_type ,pr_img
	  from (select  rownum rn, pd_id, pd_name, pd_price, pd_type,pr_img
	      from (select pd_id, pd_name, pd_price, pd_type,pr_img
	            from product where pd_type='PR'
	            order by pd_id) a
	      where rownum <= (#{page} * 10) ) b
	  where b.rn > (#{page} - 1) * 10
	]]>
	</select>
	
	<update id="updateCount" parameterType="int">
	update board set b_count = hit_count +1
	where 
	</update>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from product where pd_type='PR'
	</select>
<!-- 대준 -->

</mapper>