<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.start.mapper.UserMapper">
<!-- 가애 -->
<select id="userInfo" parameterType="String" resultType="userVO">
	select * from users where user_id = #{id}
</select>
<update id="updateUser" parameterType="UserVO">
	update users set user_mail=#{userMail}, user_passwd=#{userPasswd}, user_addr=#{userAddr}, user_phone=#{userPhone}
	where user_id = #{userId}
</update>
<update id="updateAddr" parameterType="UserVO">
	update users set user_addr=#{userAddr}, user_phone=#{userPhone}
	where user_id = #{userId}
</update>

<!-- 순덕 -->
<select id="mainCountUser" parameterType="UserVO">
	select count(user_id) as count_user from users
</select>

<!-- 용억 -->


<!-- 대준 -->
  
  <select id="login" parameterType="co.start.vo.UserVO" resultType="UserVO">
    select * from users where user_id = #{userId} and user_passwd = #{userPasswd}
  </select>
  
  <insert id="addUser" parameterType="UserVO">
		insert into users  
		values (#{userId}, #{userPasswd}, #{userName}, sysdate, #{userGender}, #{userPhone}, #{userAddr}, #{userMail}, 'normal')
  </insert>


<select id="senderList" resultType="MessageVO" parameterType="String">
	select * from message where Dm_sender=#{Id}
</select>

<select id="receiverList" resultType="MessageVO" parameterType="String">
	select * from message where Dm_receiver=#{Id}
</select>

<select id="dmSearch" resultType="MessageVO" parameterType ="int">
   select * from message where Dm_Id=#{dmId}
</select> 


</mapper>