<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.start.mapper.UserMapper">
<!-- 가애 -->


<!-- 순덕 -->


<!-- 용억 -->


<!-- 대준 -->
  
  <select id="login" parameterType="UserVO" resultType="UserVO">
    select * from users where id = #{id} and passwd = #{passwd}
  </select>
  
  <insert id="insertUser" parameterType="UserVO">
		insert into users  
		values (#{userId}, #{userPasswd}, #{userName}, sysdate, #{userGender}, #{userPhone}, #{userAddr}, #{userMail} 'normal')
  </insert>
  


</mapper>